/bin/
cmd/hwygen/hwygen
/hwygen
examples/basic/basic
examples/contrib_test/contrib_test

# GOAT build artifacts
hwy/c/*.o
hwy/c/*.s
hwy/contrib/matmul/c/*.o
hwy/contrib/matmul/c/*.s
hwy/contrib/matvec/c/*.o
hwy/contrib/matvec/c/*.s
